Notification_to_Dispatcher_for_case_Type_and_Sub_Type-3.flow
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <actionCalls>
        <name>Notification_To_Dispatchers</name>
        <label>Notification To Dispatchers for CaseType/SubType</label>
        <locationX>314</locationX>
        <locationY>1763</locationY>
        <actionName>customNotificationAction</actionName>
        <actionType>customNotificationAction</actionType>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>customNotifTypeId</name>
            <value>
                <elementReference>Get_Custom_Notification.Id</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>recipientIds</name>
            <value>
                <elementReference>RecipientID</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>title</name>
            <value>
                <elementReference>GetService_Appointment.AppointmentNumber</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>body</name>
            <value>
                <stringValue>Service Appointment for Case Type {!$Record.VMIE_Case_Type__c} and Case SubType {!$Record.VMIE_Case_SubType__c}  is created.</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>targetId</name>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputParameters>
    </actionCalls>
    <apiVersion>59.0</apiVersion>
    <assignments>
        <name>Assign_Dispatcher_Name_Actavo</name>
        <label>Assign Dispatcher Name</label>
        <locationX>50</locationX>
        <locationY>1163</locationY>
        <assignmentItems>
            <assignToReference>DispatcherName</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Dispatcher_Actavo_Queue</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Dispatcher_Group_Id</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_Dispatcher_Name_InHouse</name>
        <label>Assign Dispatcher Name</label>
        <locationX>314</locationX>
        <locationY>1163</locationY>
        <assignmentItems>
            <assignToReference>DispatcherName</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Dispatcher_InHouse_Queue</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Dispatcher_Group_Id</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_Techncian_Role</name>
        <label>Assign Techncian Role</label>
        <locationX>578</locationX>
        <locationY>731</locationY>
        <assignmentItems>
            <assignToReference>TechnicianRole</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>GetService_Appointment.VMIE_Service_Resource__r.VMIE_Company_Type__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>DispatcherName</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue></stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Get_Custom_Notification</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Get_Recipient_List</name>
        <label>Get Recipient List</label>
        <locationX>402</locationX>
        <locationY>1571</locationY>
        <assignmentItems>
            <assignToReference>RecipientID</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>Dispatchers_Loop.Id</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Dispatchers_Loop</targetReference>
        </connector>
    </assignments>
    <decisions>
        <name>Check_Case_Type_and_Case_Sub_Type</name>
        <label>Check Case Type and Case Sub Type</label>
        <locationX>578</locationX>
        <locationY>323</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>XGSPON_Loss_of_Service</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.VMIE_Case_Type__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>XGSPON</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.VMIE_Case_SubType__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Loss of Service</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>GetService_Appointment</targetReference>
            </connector>
            <label>XGSPON-Loss of Service</label>
        </rules>
        <rules>
            <name>XGSPON_Degraded_Service</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.VMIE_Case_Type__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>XGSPON</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.VMIE_Case_SubType__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Degraded Service</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>GetService_Appointment</targetReference>
            </connector>
            <label>XGSPON-Degraded Service</label>
        </rules>
        <rules>
            <name>XGSPON_Health_and_Safety_Incident</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.VMIE_Case_Type__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>XGSPON</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.VMIE_Case_SubType__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Health and Safety Incident</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>GetService_Appointment</targetReference>
            </connector>
            <label>XGSPON-Health and Safety Incident</label>
        </rules>
        <rules>
            <name>XGSPON_OLT_Power_Alarm</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.VMIE_Case_Type__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>XGSPON</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.VMIE_Case_SubType__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>OLT Power Alarm</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>GetService_Appointment</targetReference>
            </connector>
            <label>XGSPON-OLT Power Alarm</label>
        </rules>
        <rules>
            <name>Network_Cabling_Fault_VM_Infrastructure_H_and_S_Risk</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.VMIE_Case_Type__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Network Cabling Fault</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.VMIE_Case_SubType__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>VM Infrastructure H and S Risk</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>GetService_Appointment</targetReference>
            </connector>
            <label>Network Cabling Fault -VM Infrastructure H and S Risk</label>
        </rules>
        <rules>
            <name>Network_Cabling_Fault_Relocate_VM_Network</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.VMIE_Case_Type__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Network Cabling Fault</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.VMIE_Case_SubType__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Relocate VM Network</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>GetService_Appointment</targetReference>
            </connector>
            <label>Network Cabling Fault-Relocate VM Network</label>
        </rules>
    </decisions>
    <decisions>
        <name>Check_if_provisioning_Requested</name>
        <label>Check if provisioning Requested?</label>
        <locationX>578</locationX>
        <locationY>947</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Notification_Is_found</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_Custom_Notification.Id</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Check_If_Technician_Role</targetReference>
            </connector>
            <label>Notification Is found</label>
        </rules>
    </decisions>
    <decisions>
        <name>Check_If_Technician_Role</name>
        <label>Check If Technician Role</label>
        <locationX>314</locationX>
        <locationY>1055</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Technician_Actavo</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>TechnicianRole</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Actavo</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Assign_Dispatcher_Name_Actavo</targetReference>
            </connector>
            <label>Technician Actavo</label>
        </rules>
        <rules>
            <name>Technician_In_House</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>TechnicianRole</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>In-House</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Assign_Dispatcher_Name_InHouse</targetReference>
            </connector>
            <label>Technician In House</label>
        </rules>
    </decisions>
    <environments>Default</environments>
    <interviewLabel>Notification to Dispatcher {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Notification to Dispatcher for case Type and Sub Type</label>
    <loops>
        <name>Dispatchers_Loop</name>
        <label>Dispatchers Loop</label>
        <locationX>314</locationX>
        <locationY>1463</locationY>
        <collectionReference>DisGroupId</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Get_Recipient_List</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Notification_To_Dispatchers</targetReference>
        </noMoreValuesConnector>
    </loops>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordLookups>
        <name>Dispatcher_Group_Id</name>
        <label>Dispatcher Group Id</label>
        <locationX>314</locationX>
        <locationY>1355</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Dispatchers_Loop</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>DeveloperName</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>DispatcherName</elementReference>
            </value>
        </filters>
        <filters>
            <field>Type</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Queue</stringValue>
            </value>
        </filters>
        <object>Group</object>
        <outputReference>DisGroupId</outputReference>
        <queriedFields>Id</queriedFields>
    </recordLookups>
    <recordLookups>
        <name>Get_Custom_Notification</name>
        <label>Get Custom Notification</label>
        <locationX>578</locationX>
        <locationY>839</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Check_if_provisioning_Requested</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>DeveloperName</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Incident_Notification</stringValue>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>CustomNotificationType</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>GetService_Appointment</name>
        <label>Get Service Appointment</label>
        <locationX>578</locationX>
        <locationY>623</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Assign_Techncian_Role</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>ParentRecordId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>ServiceAppointment</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <start>
        <locationX>452</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Check_Case_Type_and_Case_Sub_Type</targetReference>
        </connector>
        <doesRequireRecordChangedToMeetCriteria>true</doesRequireRecordChangedToMeetCriteria>
        <filterLogic>(1 AND 3) OR (2 AND 3)</filterLogic>
        <filters>
            <field>VMIE_Task_Type__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Service</stringValue>
            </value>
        </filters>
        <filters>
            <field>VMIE_Task_Type__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Maintenance</stringValue>
            </value>
        </filters>
        <filters>
            <field>Status</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>SCHEDULED</stringValue>
            </value>
        </filters>
        <object>WorkOrder</object>
        <recordTriggerType>Update</recordTriggerType>
        <triggerType>RecordAfterSave</triggerType>
    </start>
    <status>Active</status>
    <variables>
        <name>DisGroupId</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Group</objectType>
    </variables>
    <variables>
        <name>DispatcherName</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>RecipientID</name>
        <dataType>String</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>TechnicianRole</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
</Flow>
